# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Environment variables
.env
.env.*


# Azure Functions local settings
local.settings.json


# VS Code
.vscode/


# OS files
.DS_Store
Thumbs.db

